<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/pic/weather.png">
 <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
<div class="main-content">
    {{>header}}
<h2>{{errorMessage}}</h2>

</div>
{{>footer}}
</body>
</html>